{{#sessions}}
<div class="card" id="{{assetId}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        {{#speakers}}
        <p class="card-text"><a href="speaker/{{assetId}}/">{{name}}</a></p>
        {{/speakers}}
        <p class="card-text">{{time.startStr}} - {{#room}}{{.}}{{/room}}{{^room}}TBD{{/room}}</p>
        <a href="session/{{assetId}}/" class="card-link btn btn-primary float-right">Details</a>
        <div class="favorite btn-favorite" favorite-id="{{assetId}}">
            <i class="far fa-star-empty"></i>
        </div>
    </div>
</div>
{{/sessions}}