<div class="session-detail">
    <h1 class="session-title">{{title}}</h1>
    <div class="session-details-container">
        {{#speakers}}
        <p class="session-text">
            <b><a href="speaker/{{assetId}}/" class="my-1 py-1">{{name}}</a></b></p>
        {{/speakers}}
        <p class="session-text">
            <b>{{date}} : {{time.startStr}} - {{time.endStr}}</b>
        </p>
        {{#room}}
        <p class="session-text">{{.}}</p>
        {{/room}}
        {{^room}}<p class="session-text">TBD</p>{{/room}}
    </div>
    <div class="session-description">
        {{{description}}}</div>
</div>